// Variables de colores
$color-primary: #b15bb4;
$color-secondary: #d2eb54;
$color-background: rgb(32, 22, 31);
$color-text-light: #ddd;
$color-text-dark: #000;
$color-footer: #8a4692;

// Variables de fuentes
$font-primary: 'Montserrat', Arial, Helvetica, sans-serif;

// Variables de tamaños
$font-size-large: large;
$font-size-medium: medium;
$font-size-small: small;
$padding-large: 15px;
$padding-medium: 10px;
$padding-small: 6px;
